/* Grundlegendes & Body */
@font-face {
    font-family: 'MorePerfectDOSVGA'; /* Name, den du der Schriftart gibst */
    src: url('fonts/MorePerfectDOSVGA.ttf') format('truetype'); /* Pfad zur TTF-Datei */
    font-weight: normal;  /* Standardgewicht der Schriftart */
    font-style: normal;   /* Standardstil der Schriftart */
}

body, html {
    font-family: 'MorePerfectDOSVGA', monospace;
    cursor: none !important;
}
body.index  {
          background: #000;
      }
body.index iframe {
          width: 100%;
          height: 100%;
          border: none;
          background: #000;
      }

body.os, html.os {
  margin: 0;
  height: 100%;
  background-color: #0000AA;
  color: #ffffff;
  cursor: none !important; /* Mauszeiger komplett ausblenden */
  font-weight: normal;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='8' height='16'> <text x='0' y='14' font-family='monospace' font-size='14' fill='lightgray'>░</text> </svg>");
  background-repeat: repeat;
  border-inline: double thick;
  margin: 15px 10px 0px 10px;
  box-shadow: 0px 0px 0px 30px #00a, inset 0 0 0 4px #00a;
}

body.os::before {
  border: 2px solid #0000aa;
}

body.bootscreen {
margin-left: 20px; height: 100%; background: black; color: #5f5;
font-family: 'MorePerfectDOSVGA', monospace;
white-space: pre; font-size: 16px;
cursor: none !important; /* Mauszeiger komplett ausblenden */
}

body.terminal {
margin-left: 20px; height: 100%; background: black; color: #5f5;
font-family: 'MorePerfectDOSVGA', monospace;
white-space: pre; font-size: 16px;
cursor: none !important; /* Mauszeiger komplett ausblenden */
}


/* Top Menu */
.top-menu {
  background-color: #00aaaa;
  /*padding: 4px 8px;*/
  display: flex;
  gap: 20px;
  cursor: none !important;
  border-top: double thick;
  margin: -5px;
  border-inline: double thick;
  box-shadow: 0px -10px 00px 10px #0aa;
}

.top-menu a {
  padding: 4px 6px;
  background-color: #00aaaa;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  cursor: none !important;
  margin-top: -15px; /*der Text rutscht über die Border oben*/
  margin-left: 15px;
}

.top-menu a::first-letter {
  color: #a00;
}

.red-letter {
  color: #a00;
}

.top-menu a:hover {
  background-color: #ffff00; 
  color: #000000;
  cursor: none !important;
}

.content-box {
  border: solid 2px white;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.content-box p {
  margin-left: 5px
}


/* Container für Side Menu + Content */
.container {
  display: flex;
  height: calc(100vh - 30px); /* 30px für top-menu + 30px für footer */
}

/* Side Menu */
.side-content {
  background-color: #0000AA;
  border: 2px solid white;
  margin: 15px 10px 40px 20px;
  width: 200px;
  padding: 10px 5px 25px 5px;
  box-sizing: border-box;
  cursor: none !important;
  overflow-y: auto;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
 }

.side-content a {
  display: block;
  padding: 4px;
  margin: 8px 0 0 0;
  background-color: #00aaaa;
  color: #000000;
  text-decoration: none;
  cursor: none !important;
}


.side-content a::first-letter {
  color: #a00;
}
.side-content a:hover {
  background-color: #ffff00;
  color: #000000;
  cursor: none !important;
}

/* Hauptbereich */
.main-content {
  flex-grow: 1;
  border: 2px solid white;
  margin: 15px 30px 40px 10px;
  padding: 10px 15px 30px 5px;
  background-color: #0000AA;
  box-sizing: border-box;
  overflow-y: auto;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

/* Hamburger Button */
#hamburger-btn {
  display: none;
  font-family: 'MorePerfectDOSVGA', monospace;
  font-size: 30px;
  background: none;
  border: none;
  color: yellow;
  margin: 33px 10px;
  cursor: none !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

/* Responsive für kleine Bildschirme */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  #hamburger-btn {
    display: block;
  }
  .side-content {
    position: fixed;
    box-sizing: border-box;
    border: none;
    width: calc(100% - 15px);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1000;
  }
  .side-content.open {
    max-height: 50%;
    border: solid;
    border-color: #00aaaa;
    padding-left: 35px;
  }
  .main-content {
    height: calc(100vh - 80px);
    padding-top: 15px;
  }
}

/* Überschriften */
h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: magenta;
  font-weight: normal;
}

h3 {
  margin-top: -24px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: normal;
  background: #00a;
  display: table-caption;
  padding: 4px 6px;
  font-size: inherit;
}

p {
  margin-top: 0;
}

/* Footer */
.footer-menu {
  background-color: #00aaaa;
  /*padding: 4px 8px;*/
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  color: #ffffff;
  z-index: 100;
  font-family: 'MorePerfectDOSVGA', monospace;
  border-bottom: thick double white;
  box-shadow: 0px 10px 0 10px #0aa;
  border-inline: thick double white;
  margin: 0 10px 10px 10px;
}

.footer-menu div {
  padding: 3px 6px;
  margin-left: 20px;
  margin-bottom: -16px;
  background: #0aa;
  margin-right: 20px;
}

/* Custom DOS Cursor */
.custom-dos-cursor {
  position: fixed;
  font-family: 'MorePerfectDOSVGA', monospace;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  z-index: 9999;
  user-select: none;
  line-height: 1;
}

/* Cursor bleibt überall ausgeblendet auch auf Links */
a, a:hover {
  cursor: none !important;
}

.status {
  animation: blink-green-bg 3s steps(1, start) infinite;
  padding: 5px;
  font-weight: normal;
}

@keyframes blink-green-bg {
  0%, 100% {
    background-color: transparent;
    color: #ffffff;
           }
  50% {
    background-color: #55FF55;
      }
}

.window-frame {
        width: 1024px;
        height: 768px;
        border: 4px solid #333;
        overflow: hidden;
        margin: 50px auto;
}


#os-info {
  display: none;
} 

#blink-cursor {
  display: inline-block;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

/* Dropdown Button Style */
.dropdown {
  margin-top: -15px;
  background: #0aa;
  margin-left: 20px;
}

.dropdown-btn {
  background-color: transparent;
  color: white;
  padding: 4px 6px;
  border: none;
  border-radius: 5px;
  font: inherit;
  border-radius: 0;
}

/* Hover-Effekt */
.dropdown-btn:hover {
  background-color: #ffff00; 
  color: #000000;
  cursor: none !important;
}

/* Dropdown Content (Liste) */
.dropdown-content {
    display: none; /* Verstecke die Liste initial */
    position: absolute;
    min-width: 160px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-top: 15px;
    margin-left: -15px;
}

/* Links im Dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    min-height: 35px;
    line-height: 1.4;
}

.dropdown-content a:hover {
  background-color: #ffff00; 
  color: #000000;
  cursor: none !important;
}

/* Zeige die Liste an, wenn der Button geklickt wird */
.dropdown.show .dropdown-content {
    display: block;
}
