:root {
  /* Definition CGA Farben */
  --black: #000000;        --dark-gray: #4E4E4E;
  --blue: #0000C4;         --light-blue: #4E4EDC;
  --green: #00C400;        --light-green: #4EDC4E;
  --cyan: #00C4C4;         --light-cyan: #4EF3F3;
  --red: #C40000;          --light-red: #DC4E4E;
  --magenta: #C400C4;      --light-magenta: #F34EF3;
  --brown: #C47E00;        --yellow: #F3F34E;
  --light-gray: #C4C4C4;   --white: #FFFFFF;
}

/* Standard Schriftart */
@font-face {
    font-family: 'MorePerfectDOSVGA'; 
    src: url('fonts/MorePerfectDOSVGA.ttf') format('truetype'); 
    font-weight: normal;  
    font-style: normal;  
}

body, html {
    font-family: 'MorePerfectDOSVGA', monospace;
}

body.index  {
        background: var(--black);
      }

body.index iframe {
          width: 100%;
          height: 100%;
          border: none;
          background: var(--black);
      }

body.os, html.os {
  background-color: var(--blue);
  color: var(--white);
  cursor: none !important; /* Mauszeiger komplett ausblenden */
  font-weight: normal;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='8' height='16'> <text x='0' y='14' font-family='monospace' font-size='16' fill='lightgray'>░</text> </svg>");
  background-repeat: repeat;
  border-inline: double thick;
  margin-top: 12px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  box-shadow: 0px 0px 0px 30px var(--blue), inset 0 0 0 4px var(--blue);
  outline: 2px solid var(--blue);
  outline-offset: -3.5px;
  z-index: -1;
  position: relative;  
  padding-bottom: 0.625rem;
}

body.bootscreen {
  margin-left: 20px; 
  height: 100%; 
  background: var(--black); 
  color: var(--light-green);
  font-family: 'MorePerfectDOSVGA', monospace;
  white-space: pre; 
  font-size: 1rem;
  cursor: none !important; /* Mauszeiger komplett ausblenden */
}

body.terminal {
  margin-left: 20px; 
  height: 100%; 
  background: var(--black); 
  color: var(--light-green);
  font-family: 'MorePerfectDOSVGA', monospace;
  white-space: pre; 
  font-size: 1rem;
}


/* Top Menu */
.top-menu {
  background-color: var(--cyan);
  display: flex;
  gap: 20px;
  cursor: none !important;
  border-top: double thick;
  margin: -5px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  border-inline: double thick;
  box-shadow: 0px -10px 00px 10px var(--cyan);
  z-index: 1;
  position: inherit;  
}

.top-menu a {
  padding-top: 0px;
  padding-right: 6px;
  padding-bottom: 0px;
  padding-left: 6px;
  background-color: var(--cyan);
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  cursor: none !important;
  margin-top: -15px; /*der Text rutscht über die Border oben*/
  margin-left: 15px;
}

.top-menu a::first-letter {
  color: var(--red);
}

.red-letter {
  color: var(--red);
}

.top-menu a:hover {
  background-color: var(--yellow); 
  color: var(--black);
  cursor: none !important;
}

/* Dropdown Button Style */
.dropdown {
  margin-top: -15px;
  background: var(--cyan);
  margin-left: 20px;
}

.top-menu .dropdown .dropdown-btn {
  background-color: transparent;
  color: var(--white);
  padding-top: 0px;
  padding-right: 6px;
  padding-bottom: 0px;
  padding-left: 6px;
  border: none;
  border-radius: 5px;
  font: inherit;
  border-radius: 0;
}

.top-menu .dropdown .dropdown-btn::first-letter {
  color: var(--red);
}

/* Hover-Effekt */
.top-menu .dropdown .dropdown-btn:hover {
  background-color: var(--yellow); 
  color: var(--black);
  cursor: none !important;
}

/* Dropdown Content (Liste) */
.top-menu .dropdown-content {
    display: none; /* Verstecke die Liste initial */
    position: absolute;
    min-width: 160px;
    border: solid 2px var(--white);
    margin-top: 3px;
    background-color: var(--cyan);
    box-shadow: 0px 0px 0px 3px var(--cyan), 15px 15px rgba(0, 0, 0, 0.5);
}

/* Links im Dropdown */
.top-menu .dropdown-content a {
    color: var(--black);
    text-decoration: none;
    display: block;
    margin-top: 0;
}

.top-menu .dropdown-content a:hover {
  background-color: var(--yellow); 
  color: var(--black);
  cursor: none !important;
}

/* Zeige die Liste an, wenn der Button geklickt wird */
.top-menu  .dropdown.show .dropdown-content {
    display: block;
}

.content-box {
  border: solid 2px var(--white);
  padding: 0.625rem;
  margin-top: 0.625rem;
}

.content-box p {
  margin-left: 5px;
  margin-top: unset;
}

.content-box p:first-of-type {
  margin-top: -5px;
}

.content-box p:last-of-type {
  margin-bottom: -5px;
}

/* Container für Side Menu + Content */
.container {
  display: flex;
  height: calc(100vh - 135px); /* 30px für top-menu + 30px für footer */
}

/* Side Menu */
.side-content {
  background-color: var(--blue);
  border: 2px solid var(--white);
  margin-top: 25px;
  margin-right: 0.625rem;
  margin-bottom: 30px;
  margin-left: 20px;
  width: 200px;
  padding-top: 5px;
padding-right: 5px;
padding-bottom: 25px;
padding-left: 5px;
  box-sizing: border-box;
  cursor: none !important;
  overflow-y: auto;
  box-shadow: 0px 5px 0px 3px var(--blue), 0px -5px 0px 3px var(--blue), 15px 20px rgba(0, 0, 0, 0.5);
 }

.side-content a {
  display: block;
  padding: 4px;
  margin-top: 8px;
  background-color: var(--cyan);
  color: var(--black);
  text-decoration: none;
  cursor: none !important;
}


.side-content a::first-letter {
  color: var(--red);
}

.side-content a:hover {
  background-color: var(--yellow);
  color: var(--black);
  cursor: none !important;
}

.side-content .directory {
    line-height: 1;
}

.side-content .directory a {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--white);
    display: inline-block;
}

.side-content .directory a:hover {
  background-color: var(--yellow);
  color: var(--black);
  cursor: none !important;
}

.side-content .directory a::first-letter {
  color: inherit;
}

.side-content .directory ul {
    list-style-type: none;
    padding-left: 20px;
}
.side-content .directory li.folder::before {
    content: "├≡ ";
    /**cursor: pointer;**/
}

/**Ordner im Directory beim Hover markieren**/
.side-content .directory .label:hover {
  background-color: var(--yellow);
  color: var(--black);
  cursor: none !important;
}

.side-content .directory li.file::before {
    content: "├─ ";
}
.side-content .directory .hidden {
    display: none;
}

        /* Für das letzte Ordner-Element ein anderes Symbol */
.side-content .directory li.folder:last-child::before {
    content: "└≡ ";
}

/* Für das letzte File-Element ein anderes Symbol */
.side-content .directory li.file:last-child::before {
    content: "└─ ";
}



/* Hauptbereich */
.main-content {
  flex-grow: 1;
  border: 2px solid var(--white);
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 30px;
  padding-left: 7px;
  background-color: var(--blue);
  box-sizing: border-box;
  overflow-y: auto;
  box-shadow: 0px 5px 0px 3px var(--blue), 0px -5px 0px 3px var(--blue), 15px 20px rgba(0, 0, 0, 0.5);
}

/* Hamburger Button */
#hamburger-btn {
  display: none;
  font-family: 'MorePerfectDOSVGA', monospace;
  font-size: 30px;
  background: none;
  border: none;
  color: var(--yellow);
  margin-top: 33px;
  margin-right: 0.625rem;
  margin-bottom: 33px;
  margin-left: 0.625rem;
  cursor: none !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

/* Responsive für kleine Bildschirme */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  #hamburger-btn {
    display: block;
  }
  .side-content {
    position: fixed;
    box-sizing: border-box;
    border: none;
    width: calc(100% - 15px);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1000;
  }
  .side-content.open {
    max-height: 50%;
    border: solid;
    border-color: var(--cyan);
    padding-left: 35px;
  }
  .main-content {
    height: calc(100vh - 80px);
    padding-top: 15px;
  }
}

/* Überschriften */
h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: magenta;
  font-weight: normal;
}

h3 {
  margin-top: -20px;
  margin-bottom: 5px;
  color: var(--blue);
  font-weight: normal;
  background: var(--white);
  display: ruby-text;
  padding-left: 3px;
  font-size: inherit;
  
}

p {
  margin-top: 0;
}

/* Footer */
.footer-menu {
  background-color: var(--cyan);
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  color: var(--white);
  z-index: 100;
  font-family: 'MorePerfectDOSVGA', monospace;
  border-bottom: thick double var(--white);
  box-shadow: 0px 10px 0 10px var(--cyan);
  border-inline: thick double var(--white);
  margin-top: 0;
  margin-right: 4px;
  margin-bottom: 6px;
  margin-left: 4px;
}

.footer-menu div {
  padding-top: 0;
  padding-right: 6px;
  padding-bottom: 0;
  padding-left: 6px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -13px;
  background: var(--cyan);
  
}

/* Custom DOS Cursor */
.custom-dos-cursor {
  position: fixed;
  font-family: 'MorePerfectDOSVGA', monospace;
  font-size: 1rem;
  color: var(--white);
  pointer-events: none;
  z-index: 9999;
  user-select: none;
  line-height: 1;
}

/* Cursor bleibt überall ausgeblendet auch auf Links */
a:hover {
    background: var(--yellow);
    color: var(--black);
    cursor: none !important;
}

a {
    color: var(--white);
    cursor: none !important;
}


.status {
  animation: blink-green-bg 3s steps(1, start) infinite;
  padding: 0px;
  font-weight: normal;
}

@keyframes blink-green-bg {
  0%, 100% {
    background-color: transparent;
    color: var(--white);
           }
  50% {
    background-color: var(--light-green);
      }
}

.window-frame {
  width: 1024px;
  height: 768px;
  border: 4px solid var(--dark-gray);
  overflow: hidden;
  mmargin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  cursor: none !important;
}

.main-frame {
  cursor: none !important;
}


#os-info {
  display: none;
} 

#blink-cursor {
  display: inline-block;
  animation: blink-cursorBlink 1s steps(1) infinite;
}

@keyframes blink-cursorBlink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.input-box {
  cursor: none !important;
  background-color: var(--black);
  color: var(--light-green);
  border: solid 2px var(--white);
  box-shadow: inset -3px -5px 0 var(--blue), inset 3px 5px 0 var(--blue);
  padding: 5px;
  cursor: none !important;
  font-family: 'MorePerfectDOSVGA', monospace;  
}

.input-box input {
  background-color: transparent;
  caret-color: var(--light-green); /* DOS-grün */
  border: none;
  padding: 4px;
  width: 80%;
  color: var(--light-green);
  cursor: none !important;
  font-family: 'MorePerfectDOSVGA', monospace;  
  font-size: 1rem;
}

.input-box .fake-cursor {
  position: relative;
  top: 4px;
  color: var(--light-green);
  font-family: 'MorePerfectDOSVGA', monospace;
  animation: fake-cursorBlink 1s steps(1) infinite;
  pointer-events: none;
  left: -557px;
  top: 0px;
  visibility: visible;
}

@keyframes fake-cursorBlink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

input:focus {
  outline: none;
  border: none; /* optional, falls du auch die Border entfernen willst */
}

label {
    cursor: none !important;
}

#ascii {
  white-space: pre;
  line-height: 0.9;
  letter-spacing: -2px;
  color: var(--dark-gray);
  background: var(--light-blue);
  width: fit-content;
}

.museum-col {
    background: var(--light-gray);
}

.museum-sha {
  background: var(--dark-gray);
  color: var(--red);
}

.museum-hum {
  color: var(--black);
}

.museum-hea {
  color: var(--brown);
}

.museum-gro {
  background: var(--green);
  color: var(--brown);
}

/** Kommandozeile
**/ 
#output {
  background: var(--black);
  color: var(--light-green);
  overflow: hidden;         /* kein Scrollen */
  height: 5em;
  bottom: 1.3em;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  align-content: end;
}

#output p {
  line-height: 1;
  padding: 0;
  margin: 0;
}

#prompt {
  width: 100%;
  background: var(--black);
  color: var(--light-green);
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

}
#commandInput {
  width: 100%;
  font-size: 1em;
  border: none;
  background: var(--black);
  color: var(--light-green);
  cursor: none !important;
  font-family: 'MorePerfectDOSVGA', monospace;  
  flex: 1;
}

#prompt .fake-cursor {
  position: relative;
  top: 4px;
  color: var(--light-green);
  font-family: 'MorePerfectDOSVGA', monospace;
  animation: fake-cursorBlink 1s steps(1) infinite;
  pointer-events: none;
  left: -557px;
  top: 0px;
  visibility: visible;
}


#prompt span {
  margin-right: 5px;
}
